env/

# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Ignore everything in the my_lambda_function directory
my_lambda_function/*

# Allow .py files in the my_lambda_function directory
!my_lambda_function/*.py

# dotenv ended up not being used
.env
